<button class="button-show-menu button-show-menu-visible">
  <i class="fas fa-bars"></i>
  <span class="hidden-text">Show menu</span>
</button>

<div class="menu-container menu-hidden">
  <button class="button-close-menu button-close-menu-visible">
    <i class="fas fa-times-circle"></i>
    <span class="hidden-text">Close menu</span>
  </button>

  <div class="menu-content">
    <nav class="menu-nav">
      <a href="">Home</a>

      {% if user.is_authenticated %}
        <a href="{% url 'chat:dashboard_chat_new' %}">New chat</a>
        <a href="{% url 'chat:dashboard' %}">Dashboard</a>
        <a class="authors-logout-link" href="{% url 'accounts:logout' %}">Logout</a>
        {% include 'accounts/partials/form_logout.html' %}
      {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
    </nav>
  </div>
</div>