{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Chat Django</title>
</head>

<body>
    {% include 'global/partials/menu.html' %}
    {% include 'global/partials/header.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
    </main>

    {% include 'global/partials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>

</html>